
.page {
    font-family: "inter", "Arial", sans-serif;
/*    border: 1px red solid;*/
    max-width: 1280px;
    background-color: #2A2C2F;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}