.photo-grid {
/*    border: 1px burlywood solid;  */
    display: grid;
    max-width: 1184px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit,minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
    gap: 16px;
    justify-items: stretch;
  }

@media screen and (max-width: 1152px) {
  .photo-grid {
    max-width: 928px;
  }
}

@media screen and (max-width: 896px) {
  .photo-grid {
    max-width: 720px;
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    max-width: 288px;
    gap: 12px;
  }
}